*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(191, 191, 191);
}

.img{
    width: 50vw;
    height: 50vh;
    background-image: url(./big-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 10vw;
    left: 20%;
}

.text{
    width: 30vw;
    padding: 20px;
    background-color: white;
    color: black;
    position: absolute;
    right: 10vw;
    bottom: -5vw;
    text-align: center;
}

button{
    margin-top: 7px;
    background-color: cadetblue;
    color: white;
    border: 2px solid cadetblue;
    font-size: large;
    width: 15vw;
    height: 3vw;
}

p{
    margin-top: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}